@import url("pygments.css");

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

code, code span {
  font-family: monospace;
  font-size: 90%;
}

.date, .download {
  border-radius: 2px;
  color: #ffffff;
  padding: 0.25em;
  background-color: #e85d00;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}

.date {
  margin-top: -2em;
  margin-left: -3em;
  float: left;
  width: 2em;
}

.dateday {
  font-size: 150%;
}

.dateyear {
  font-size: 75%;
}

.download {
  margin-top: -2em;
  float: right;
  width: 8em;
  transition: .35s ease;
  text-transform: uppercase;
}

.download:hover {
  background-color: #ff6600;
  box-shadow: 0px 0px 8px #ff6600;
}

body {
  background-color: #171717;
}

h1, h2, h3, h4 {
  color: #ffffff;
}

h3, h4 {
  margin: 1em auto 0.25em auto;
}

hr {
  height: 2px;
  margin: 1em auto 1em auto;
  border: 0px;
}

p, blockquote, table, .highlight {
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

blockquote, .highlight {
  padding: 0.5em;
  border-width: 0px 0px 0px 4px;
  border-style: solid;
  border-color: #333333;
  overflow: auto;
}

code, blockquote, .highlight {
  border-radius: 2px;
}

code {
  padding: 0.1em;
}

.highlight code {
  padding: 0em;
}

table {
  border-radius: 2px;
}

td, th {
  padding: 0.5em;
}

.content, th, tr:nth-child(even) {
  background-color: #4d4d4d;
}

a, .navbar a:hover, .footer a:hover, tr:hover {
  color: #ffb380;
  text-decoration: none;
  transition: .35s ease;
}

a:hover {
  text-shadow: 0px 0px 8px #ff6600;
}

.navbar a, .footer a {
  color: #b3b3b3;
}

.page, hr, table, blockquote, code, .highlight {
  background-color: #424242;
}

.page {
  width: 920px;
  margin: 32px auto 32px auto;
  box-shadow: 0px 0px 8px #000000;
}

.header {
  height: 64px;
  background-image: url("radian_header.png"), url("bar_header.png");
  background-position: left top, left top;
  background-repeat: no-repeat, repeat-x;
}

.header a#radian_home {
  line-height: 64px;
  padding-left: 60px;
  padding-right: 12px;
  float: left;
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
}

.header a#radian_home:hover {
  text-shadow: 0px 0px 16px #ffe6d5;
}

.navbar {
  list-style-type: none;
  padding-right: 16px;
  float: right;
}

.navbar li {
  float: left;
}

.navbar a {
  padding-right: 8px;
  padding-left: 8px;
  line-height: 64px;
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.content {
  min-height: 590px;
  padding: 32px;
  color: #e6e6e6;
  font-size: 16px;
}

.content ol {
  margin-left: 2em;
}

.content ul {
  margin-left: 2em;
  list-style-type: square;
}

.footer {
  height: 64px;
  background-image: url("bar_footer.png");
  background-position: right bottom;
  background-repeat: repeat-x;
}

.footer a {
  line-height: 64px;
  display: block;
  font-size: 12px;
  text-align: center;
}
