<!doctype html>
<html lang="en" ng-app="radianDocs">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Radian - Radian Tutorial - Getting started</title>
  <link rel="icon" href="../favicon.ico" />
  <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="../css/style.css" type="text/css" />
  <link rel="stylesheet" href="../css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="../css/radian.css" type="text/css" />
</head>
<body ng-controller="DummyCtrl">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="../index.html">Radian</a>
        <ul class="nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="../documentation.html">Documentation</a></li>
          <li><a href="../download.html">Download</a></li>
          <li><a href="../community.html">Community</a></li>
          <li><a href="../gallery">Gallery</a></li>
          <li><a href="../license.html">License</a></li>
          <li><a href="../faq.html">FAQ</a></li>
        </ul>
      </div>
    </div>

    <h2 id="getting-started">1. Getting started</h2>
<h3 id="what-is-radian">What is Radian?</h3>
<p>There are many JavaScript plotting and graphing libraries out there, ranging in complexity from quick-and-easy things like <a href="http://www.flotcharts.org/">Flot</a> up to extremely powerful but complex-to-use things like <a href="http://d3js.org/">D3.js</a>. These things are great, and produce attractive graphs, but they do require you to write JavaScript. Radian is a plotting API that works in a different way: plots are defined declaratively using custom HTML elements. Apart from a tiny bit of boilerplate setup code, you don’t need to write any JavaScript. This has a couple of benefits:</p>
<ul>
<li><p>For users who either don’t know JavaScript, don’t want to write it, or just want a quick and simple way to drop a plot into a web page, Radian offers an ideal solution – you write your plots inline in the HTML for your web page. (This works with other markup systems as well. All of these web pages are written in Markdown. All that’s needed to make Radian plots appear are a few <code>&lt;script&gt;</code> tags to provide access to the Radian library and its dependencies.)</p></li>
<li><p>For more complex applications where there may be dozens of plots on a page, and where the numbers and contents of the plots aren’t known in advance, it’s much easier to generate HTML containing Radian’s custom tags than it is to generate an HTML page with parallel JavaScript code defining the plots. In fact, the development of Radian came out of just such an application: the <a href="http://www.bayeshive.com/">BayesHive</a> Bayesian statistical authoring system allows you to write literate documents describing complex statistical calculations, the results of which are rendered into Radian plots. It became apparent pretty quickly that we needed something like Radian to allow us to do this with a minimum of pain.</p></li>
</ul>
<h3 id="angularjs-d3.js-some-other-things">AngularJS + D3.js + some other things</h3>
<p>Radian leverages the power of two very cool JavaScript libraries:</p>
<p><a href="http://angularjs.org/">AngularJS</a> is a framework for building web applications that’s based on a couple of interesting and innovative ideas. The first is two-way data binding – you can easily set things up so that the contents of an HTML page are linked to JavaScript variables, so that changes in the JavaScript values are reflected immediately in the displayed page, and changes in the page (via interactive elements in forms) are propagated to the JavaScript values. The second idea is that of extending HTML with custom tags and attributes that to implement application-specific behaviours. As you’ll see, Radian makes heavy use of both of these ideas. For example, two-way data binding makes it almost trivial to produce interactive plots, and custom HTML elements are used everywhere: <code>&lt;plot&gt;</code>, <code>&lt;plot-data&gt;</code>, <code>&lt;lines&gt;</code>, <code>&lt;points&gt;</code>, and so on.</p>
<p>The second big thing we use is <a href="http://d3js.org/">D3.js</a>. This is a library for building “data-driven documents”. It’s quite complex to use, but it can produce amazing results – take a look at some of the <a href="https://github.com/mbostock/d3/wiki/Gallery">examples</a> for a taste of what it can do.</p>
<p>We wanted to take some of the best features of AngularJS and D3.js and use them to make a plotting API that was ridiculously easy to use for simple things, and possible to use for complex things.</p>
<p>As well as AngularJS and D3.js, we make use of a few other very useful libraries: we use a modified version of the <a href="http://marijnhaverbeke.nl/blog/acorn.html">Acorn JavaScript parser</a> and the <a href="https://github.com/Constellation/estraverse">estraverse</a> and <a href="https://github.com/Constellation/escodegen">escodegen</a> libraries for parsing and processing Radian expressions.</p>
<h3 id="some-motivating-examples">Some motivating examples</h3>
<p>To whet you appetite, here are a couple of examples:</p>
<h4 id="an-interactive-functional-plot">An interactive functional plot</h4>
<p>Here, we set up a couple of range controls, using Angular’s <code>ng-model</code> attribute to bind their values to JavaScript variables. These values can then be accessed in Radian expressions (the things in <code>[[]]</code> double square brackets) to define plot values. Radian comes with a library of commonly used functions, so here we plot a Gaussian probability distribution. Moving the range sliders around changes the plot.</p>
<pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;div</span><span class="ot"> class=</span><span class="st">&quot;form-inline&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;label&gt;</span>Mean<span class="kw">&lt;/label&gt;</span>
  <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;range&quot;</span><span class="ot"> min=</span><span class="st">0</span><span class="ot"> max=</span><span class="st">10</span><span class="ot"> step=</span><span class="st">0.01</span><span class="ot"> ng-model=</span><span class="st">&quot;mu&quot;</span><span class="ot"> ng-init=</span><span class="st">&quot;mu=5&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;label&gt;</span><span class="dv">&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;</span>Standard deviation<span class="kw">&lt;/label&gt;</span>
  <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;range&quot;</span><span class="ot"> min=</span><span class="st">0.01</span><span class="ot"> max=</span><span class="st">10</span><span class="ot"> step=</span><span class="st">0.01</span><span class="ot"> ng-model=</span><span class="st">&quot;sigma&quot;</span><span class="ot"> ng-init=</span><span class="st">&quot;sigma=1&quot;</span><span class="kw">&gt;</span>
<span class="kw">&lt;/div&gt;</span>
<span class="kw">&lt;br&gt;</span>

<span class="kw">&lt;plot</span><span class="ot"> width=</span><span class="st">800</span><span class="ot"> aspect=</span><span class="st">3</span><span class="ot"> stroke-width=</span><span class="st">2</span><span class="ot"> stroke=</span><span class="st">&quot;red&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;lines</span><span class="ot"> x=</span><span class="st">&quot;[[seq(0,10,200)]]&quot;</span><span class="ot"> y=</span><span class="st">&quot;[[normal(x,mu,sigma)]]&quot;</span><span class="kw">/&gt;</span>
<span class="kw">&lt;/plot&gt;</span></code></pre>
<p><br></p>
<div class="form-inline">
  
<label>Mean</label> <input type="range" min="0" max="10" step="0.01" ng-model="mu" ng-init="mu=5"> <label>  Standard deviation</label> <input type="range" min="0.01" max="10" step="0.01" ng-model="sigma" ng-init="sigma=1">
</div>
<p><br></p>
<p><plot width="800" aspect="3" stroke-width="2" stroke="red"> <lines x="[[seq(0,10,200)]]" y="[[normal(x,mu,sigma)]]"></lines> </plot></p>
<p>It’s worth emphasising that the code displayed above is <em>all</em> you need to do this. There is no extra JavaScript code required to make this work.</p>
<h4 id="plotting-data-loaded-from-a-url">Plotting data loaded from a URL</h4>
<p>Of course, most of the time, we’ll be interested in plotting data, not just functions. Radian provides a <code>&lt;plot-data&gt;</code> directive for defining data sets for plotting. Data can either be embedded directly in the web page, or can be loaded from a URL. Here, we load some weather data (as a CSV file) from a URL and plot time series of a couple of variables next to a scatter plot of those variables.</p>
<pre class="sourceCode html"><code class="sourceCode html"><span class="kw">&lt;plot-row</span><span class="ot"> width=</span><span class="st">850</span><span class="ot"> aspect=</span><span class="st">3</span><span class="kw">&gt;</span>
  <span class="kw">&lt;plot</span><span class="ot"> layout-share=</span><span class="st">3</span><span class="kw">&gt;</span>
    <span class="kw">&lt;lines</span><span class="ot"> x=</span><span class="st">&quot;[[vic2012ooa.day]]&quot;</span><span class="ot"> y=</span><span class="st">&quot;[[vic2012ooa.tmp]]&quot;</span><span class="ot"> stroke=</span><span class="st">&quot;red&quot;</span><span class="kw">&gt;&lt;/lines&gt;</span>
    <span class="kw">&lt;lines</span><span class="ot"> x=</span><span class="st">&quot;[[vic2012ooa.day]]&quot;</span><span class="ot"> y2=</span><span class="st">&quot;[[vic2012ooa.prc]]&quot;</span><span class="ot"> stroke=</span><span class="st">&quot;blue&quot;</span><span class="kw">&gt;&lt;/lines&gt;</span>
  <span class="kw">&lt;/plot&gt;</span>
  <span class="kw">&lt;plot</span><span class="ot"> layout-share=</span><span class="st">2</span><span class="ot"> marker-size=</span><span class="st">30</span><span class="ot"> stroke=</span><span class="st">&quot;none&quot;</span><span class="ot"> fill=</span><span class="st">&quot;rgba(0,0,255,0.4)&quot;</span><span class="kw">&gt;</span>
    <span class="kw">&lt;points</span><span class="ot"> x=</span><span class="st">&quot;[[vic2012ooa.tmp]]&quot;</span><span class="ot"> y=</span><span class="st">&quot;[[vic2012ooa.prc]]&quot;</span><span class="kw">&gt;&lt;/points&gt;</span>
  <span class="kw">&lt;/plot&gt;</span>
<span class="kw">&lt;/plot-row&gt;</span>

<span class="kw">&lt;plot-data</span><span class="ot"> name=</span><span class="st">&quot;vic2012ooa&quot;</span><span class="ot"> src=</span><span class="st">&quot;/tutorial/data/vic2012.csv&quot;</span>
<span class="ot">           format=</span><span class="st">&quot;csv&quot;</span><span class="ot"> cols=</span><span class="st">&quot;day,tmp,prc&quot;</span><span class="kw">&gt;</span>
  <span class="kw">&lt;metadata</span><span class="ot"> name=</span><span class="st">&quot;day&quot;</span><span class="ot"> label=</span><span class="st">&quot;Day of year&quot;</span><span class="ot"> units=</span><span class="st">&quot;d&quot;</span><span class="kw">&gt;&lt;/metadata&gt;</span>
  <span class="kw">&lt;metadata</span><span class="ot"> name=</span><span class="st">&quot;tmp&quot;</span><span class="ot"> label=</span><span class="st">&quot;Temperature&quot;</span><span class="ot"> units=</span><span class="st">&quot;</span><span class="dv">&amp;deg;</span><span class="st">C&quot;</span><span class="kw">&gt;&lt;/metadata&gt;</span>
  <span class="kw">&lt;metadata</span><span class="ot"> name=</span><span class="st">&quot;prc&quot;</span><span class="ot"> label=</span><span class="st">&quot;Rainfall&quot;</span><span class="ot"> units=</span><span class="st">&quot;mm/day&quot;</span><span class="kw">&gt;&lt;/metadata&gt;</span>
<span class="kw">&lt;/plot-data&gt;</span></code></pre>
<p><br></p>
<p><plot-row width="850" aspect="3"> <plot layout-share="3"> <lines x="[[vic2012ooa.day]]" y="[[vic2012ooa.tmp]]" stroke="red"></lines> <lines x="[[vic2012ooa.day]]" y2="[[vic2012ooa.prc]]" stroke="blue"></lines> </plot> <plot layout-share="2" marker-size="30" stroke="none" fill="rgba(0,0,255,0.4)"> <points x="[[vic2012ooa.tmp]]" y="[[vic2012ooa.prc]]"></points> </plot> </plot-row></p>
<p><plot-data name="vic2012ooa" src="../data/vic2012.csv" format="csv" cols="day,tmp,prc"> <metadata name="day" label="Day of year" units="d"></metadata> <metadata name="tmp" label="Temperature" units="°C"></metadata> <metadata name="prc" label="Rainfall" units="mm/day"></metadata> </plot-data></p>
<p>As well as loading data from a URL, this example also illustrates some of Radian’s plot layout facilities (the <code>&lt;plot-row&gt;</code> element and the <code>layout-share</code> attributes on the individual plots), and the automatic labelling of plot axes based on metadata.</p>
<h3 id="getting-set-up-to-work-with-radian">Getting set up to work with Radian</h3>
<h4 id="browser">Browser</h4>
<p>Radian should work with most recent browsers. The two main requirements on the browser are that it render SVG images and that it support recent JavaScript (ECMAScript 5) constructs. Radian has been tested in recent versions of Chrome, Firefox and Opera, and is known to at least partially work in some recent versions of Internet Explorer. (We have not made an effort to support earlier versions of Internet Explorer, which did not render SVG images. We’d suggest that you use another browser if you can.)</p>
<p>We would welcome information from users about experiences with other browsers!</p>
<h4 id="libraries">Libraries</h4>
<p>Radian requires a number of JavaScript libraries: most obviously AngularJS and D3.js, but a number of other utility libraries too. Suitable versions of the needed libraries are provided in the Radian distribution, and the template page (see below) shows how to access these libraries in your HTML pages.</p>
<h4 id="page-template">Page template</h4>
<p>A small amount of JavaScript setup code is needed to activate the AngularJS framework in a web page. The file <code>resources/page-template.html</code> in the Radian distribution shows what is needed. It looks like this:</p>
<pre class="sourceCode html"><code class="sourceCode html"><span class="er">&lt;</span>!doctype html&gt;
<span class="kw">&lt;html</span><span class="ot"> lang=</span><span class="st">&quot;en&quot;</span><span class="ot"> ng-app=</span><span class="st">&quot;myApp&quot;</span><span class="kw">&gt;</span>
<span class="kw">&lt;head&gt;</span>
  ...
  <span class="kw">&lt;link</span><span class="ot"> rel=</span><span class="st">&quot;stylesheet&quot;</span><span class="ot"> href=</span><span class="st">&quot;/css/radian.css&quot;</span><span class="ot"> type=</span><span class="st">&quot;text/css&quot;</span><span class="kw">&gt;&lt;/link&gt;</span>
  ...
<span class="kw">&lt;/head&gt;</span>
<span class="kw">&lt;body</span><span class="ot"> ng-controller=</span><span class="st">&quot;DummyCtrl&quot;</span><span class="kw">&gt;</span>
  ...
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/jquery.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/jquery.csv.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/escodegen.browser.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/estraverse.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/d3.v2.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/angular.min.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script</span><span class="ot"> src=</span><span class="st">&quot;/js/radian.min.js&quot;</span><span class="kw">&gt;&lt;/script&gt;</span>
  <span class="kw">&lt;script&gt;</span>
<span class="er">angular.module('myApp', ['radian']);</span>
<span class="er">function DummyCtrl() { };</span>
  <span class="kw">&lt;/script&gt;</span>
<span class="kw">&lt;/body&gt;</span>
<span class="kw">&lt;/html&gt;</span></code></pre>
<p>This just imports the Radian CSS stylesheet in the page header, loads the required JavaScript libraries, and does a minimal amount of work to trigger Angular’s HTML compiler to process the page (the <code>ng-app</code> and <code>ng-controller</code> attributes and the small script at the bottom).</p>
<p>With this little bit of infrastructure in place, Radian plot directives within the body of the HTML page will be processed and SVG plot images inserted.</p>
<hr>
<p><a href="02-simple-functional-plots.html">Section 2 »</a></p>

    <footer>
      <div>
         
        <span class="pull-right">Copyright © (2013) OpenBrain
        Ltd.  </span>
      </div>
    </footer>
  </div>
  <script src="../js/jquery.js"></script>
  <script src="../js/jquery.csv.js"></script>
  <script src="../js/escodegen.browser.js"></script>
  <script src="../js/estraverse.js"></script>
  <script src="../js/d3.v2.js"></script>
  <script src="../js/angular.min.js"></script>
  <script src="../js/radian.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script>
angular.module('radianDocs', ['radian']);
function DummyCtrl() { };
  </script>
</body>
</html>
