<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
  <title>Radian - {{ page.title }}</title>
  <link rel="stylesheet" href="css/style.css" type="text/css"></link>
</head>
<body>
  <div class="page">
    <div class="header">
      <a href="index.html" id="radian_home">
        <img src="radian-logo-small.png">Radian
      </a>
      <ul class="navbar">
        <li><a href="documentation.html">Documentation</a></li>
        <li><a href="download.html">Download</a></li>
        <li><a href="community.html">Community</a></li>
        <li><a href="media.html">Media</a></li>
        <li><a href="license.html">License</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="links.html">Links</a></li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      <a href="">Copyright &copy; OpenBrain Ltd. (2013)</a>
    </div>
  </div>
</body>
</html>
